.container {
    position: relative;
    z-index: 1;
    margin-top: 40px;

    font-size: 18px;
    line-height: 20px;
}

.list {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 20px;
}

.list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list::-webkit-scrollbar {
    display: none;
}

.image {
    width: 150px;
    margin: 0 10px;
    cursor: pointer;
}
