.container {
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--gray);
}

li {
    cursor: pointer;
    min-width: 100px;
}
