#root {
    --white: #fff;
    --black: #000;
    --black_30: rgba(0, 0, 0, 0.3);
    --black_80: rgba(0, 0, 0, 0.8);
    --dark-blue: #041881;
    --light-blue: #2225E4;
    --slate-blue: #3B486D;
    --gray: #8D8E90;
}
